<!-- MENU SIDEBAR-->
<aside th:fragment="sidebar" class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/images/icon/kido_01.png" alt="K" class="k" />&nbsp; &nbsp;
            <img src="/images/icon/kido_02.png" alt="Kidole" class="kidole"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active sidebar-list-item" >
                    <a  th:href="@{/coordinator/kidole/home}" class="sidebar-link text-muted active">&nbsp;&nbsp;
                        Mes competitions
                    </a>
                </li>
               <!-- <li>
                    <a href="chart.html" class="sidebar-link text-muted">
                        <i class="fas fa-chart-bar"></i>Charts</a>
                </li>
                <li>
                    <a href="table.html" class="sidebar-link text-muted">
                        <i class="fas fa-table"></i>Tables</a>
                </li>
                <li>
                    <a href="form.html">
                        <i class="far fa-check-square"></i>Forms</a>
                </li>
                <li>
                    <a href="#" class="sidebar-link text-muted">
                        <i class="fas fa-calendar-alt"></i>Calendar</a>
                </li>
                <li>
                    <a href="map.html" class="sidebar-link text-muted">
                        <i class="fas fa-map-marker-alt"></i>Maps</a>
                </li>-->

            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->