<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img th:src="@{/assets/img/brand/kido_02.png}" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner" th:replace="~{../templates/fragments/navbar :: navbar}">
            <!-- Collapse -->

        </div>
    </div>
</nav>
